.character-portada{
    width: 100%;
    background-color: #504949;
}

.character-portada-content{
    width: 80%;
    padding: 4rem 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-portada-img{
    margin-top: 1rem;
    height: 30rem;
}

.character-portada-text{
    color: white;
    width: 50%;
    margin: auto;
}



@media (max-width: 720px) { 
    .character-portada{
        width: 100%;
    }

    .character-portada-content{
        width: 100%;
        padding:3rem 0 ;
        flex-direction: column;
        justify-content:flex-start;        
    }

    .character-portada-img{
        height: 20rem;
    }

    .character-portada-text{
        margin-top: 2rem;
        width: 100%;
        text-align: center  ;
    }

    .character-portada-descrip{
        width: 70%;
        margin: auto;   
    }

}