.character-extra{
    width: 90%;
    margin: auto;
    display: flex;
}

.character-extra-series,
.character-extra-comics{
    width: 50%;
    margin: 2rem 1rem;
    padding: 3rem 0;
    background-color:rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.links{
    text-align: center;
    color: white;
    margin: .5rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 1.2rem 2.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%); 
}

@media (max-width: 720px) { 
    .character-extra{
        width: 100%;
        flex-direction: column;
    }

    .character-extra-series,
    .character-extra-comics{    
        width: 100%;
        margin: 0;
    }

    .links{
        width: 50%;
    }
    
}
